<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="/assets/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/prismjs/themes/prism-okaidia.css" />
    <link
      rel="stylesheet"
      href="/assets/prismjs/plugins/line-numbers/prism-line-numbers.css"
    />
    <link
      rel="stylesheet"
      href="/assets/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <% if (md) { %>
    <link
      rel="stylesheet"
      href="/assets/github-markdown-css/github-markdown-dark.css"
    />
    <% } %>
    <link rel="stylesheet" href="/public/css/htmlViewer.css" />

    <title>HTML Viewer</title>
  </head>

  <body class="line-numbers">
    <main>
      <!-- Code Highlight -->
      <section class="code-highlight p-0">
        <!-- Tabs -->
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <% if (md) { %>
            <button
              class="nav-link"
              id="nav-md-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-md"
              type="button"
              role="tab"
              aria-controls="nav-md"
              aria-selected="true"
            >
              <i class="fab fa-markdown me-2"></i>
              README.md
            </button>
            <% } %>
            <button
              class="nav-link active"
              id="nav-html-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-html"
              type="button"
              role="tab"
              aria-controls="nav-html"
              aria-selected="true"
            >
              <i class="<%= htmlFile.icon %> me-2"></i>
              <%= htmlFile.name %>
            </button>
            <button
              class="nav-link"
              id="nav-js-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-js"
              type="button"
              role="tab"
              aria-controls="nav-js"
              aria-selected="false"
            >
              <i class="<%= jsFile.icon %> me-2"></i>
              <%= jsFile.name %>
            </button>
          </div>
        </nav>
        <!-- End Tabs -->

        <!-- Code -->
        <div class="tab-content p-0">
          <% if (md) { %>
          <div class="tab-pane fade" id="nav-md" role="tabpanel">
            <div class="readme-content readme-scrollable">
              <article class="markdown-body p-3"><%- md %></article>
            </div>
          </div>
          <% } %>
          <div class="tab-pane fade show active" id="nav-html" role="tabpanel">
            <pre
              class="mt-0"
            ><code class="language-markup"><%= htmlFile.content %></code></pre>
          </div>
          <div class="tab-pane fade" id="nav-js" role="tabpanel">
            <pre
              class="mt-0"
            ><code class="language-javascript"><%= jsFile.content %></code></pre>
          </div>
        </div>
        <!-- End Code -->
      </section>
      <!-- End Code Highlight -->

      <!-- Console -->
      <section class="console">
        <h6 class="pt-3 pb-2 px-3" style="color: #fff">CONSOLE OUTPUT</h6>
        <div class="wrapper"></div>
      </section>
      <!-- End Console -->

      <!-- Iframe -->
      <section class="iframe">
        <iframe
          src="<%= htmlFile.iframeURL %>"
          class="w-100 h-100"
          style="min-height: 500px; background-color: #fff"
        ></iframe>
      </section>
      <!-- End Iframe -->
    </main>

    <script src="/assets/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/prismjs/components/prism-core.min.js"></script>
    <script src="/assets/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="/assets/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <script src="/public/js/common.js"></script>
    <script src="/public/js/htmlViewer.js"></script>
  </body>
</html>
